@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #100F0F;

    --card: #FFFFFF;
    --card-foreground: #100F0F;

    --popover: #FFFFFF;
    --popover-foreground: #100F0F;

    --primary: #0f172a;
    --primary-foreground: #f8fafc;

    --secondary: #F4F4F5;
    --secondary-foreground: #0f172a;

    --muted: #F4F4F5;
    --muted-foreground: #64748b;

    --accent: #F4F4F5;
    --accent-foreground: #0f172a;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #020817;

    --radius: 0.5rem;
  }

  .dark {
    --background: #100F0F;
    --foreground: #f8fafc;

    --card: #100F0F;
    --card-foreground: #f8fafc;

    --popover: #100F0F;
    --popover-foreground: #f8fafc;

    --primary: #f8fafc;
    --primary-foreground: #0f172a;

    --secondary: #27272A;
    --secondary-foreground: #f8fafc;

    --muted: #27272A;
    --muted-foreground: #27272A;

    --accent: #27272A;
    --accent-foreground: #f8fafc;

    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;

    --border: #27272A;
    --input: #27272A;
    --ring: #cbd5e1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.a {
  margin: 0;
  padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold
    mb-1;
}
.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 400;
}
